.green{
	color: green !important;
}
.tl{
	text-align:left;
}
.tr{
	text-align:right;
}
.crop{
	overflow: hidden;
	white-space: nowrap; /* Don't forget this one */
	text-overflow: ellipsis;
}

.printer.new{
	border-left: solid 0.5em red;
}

.driver.new{
	border-right: solid 0.5em red;
}

.printer.new, .driver.new{
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 0 1em 0 1em;
}


.driver > input, .printer > input{
	padding: 0.3em;
	width: 100%;
	margin-bottom: 0.25em;
	margin-top: 0.25em;
}

.close{
	cursor: pointer;
	background: none;
	border: none;
	color: red;
	font-size: 1em;
}

.top-bracket{
	padding-left: 0;
}